.checkout-container {
  display: flex;
  justify-content: center;
  margin: 4rem auto;

  mat-card {
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background: rgba(40, 40, 40, 0.4);
    border-radius: 0.8rem;
    border: 0.04rem solid rgba(80, 80, 80, 0.4);

    h2 {
      margin-bottom: 20px;
      color: #fff;
    }

    table {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 20px;
      background-color: transparent;

      td {
        padding: 0.5rem 0;
        color: #fff;
      }

      input {
        width: 60px;
        text-align: center;
        background: rgba(40, 40, 40, 0.4);
        color: #fff;
        border: none;
        box-shadow: none;
      }

      button {
        cursor: pointer;
        margin-top: 1rem;
      }
    }

    .checkout-summary {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
        color: #fff;
      }

      button {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
  }
}
