.landing-card {
  background: transparent;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  max-width: 32rem;
  margin: auto;
}

.mat-mdc-card-subtitle {
  padding-left: 0.4rem;
  color: #cccccc;
}
