.menu-button {
  display: none;
}

.desktop-nav {
  display: flex;
  flex: auto;
  justify-content: center;
}

.desktop-nav a {
  margin: 0 1rem;
  font-size: 1rem;
}

.sidenav {
  position: fixed;
  height: 100%;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .menu-button {
    display: inline;
  }
}

.sidenav-container, .sidenav, .sidenav-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
