$background-color: #0a0a0a;

.mat-toolbar {
  background-color: transparent;
}

.menu-button {
  display: none;
}

.desktop-nav {
  display: flex;
  flex: auto;
  justify-content: center;
}

.desktop-nav a {
  margin: 0 1rem;
  font-size: 1rem;
}

.sidenav {
  position: fixed;
  height: 100%;
  text-align: center;
  background-color: $background-color;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .menu-button {
    display: inline;
  }
}
