<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <nav class="desktop-nav">
    @for (item of navItems; track $index) {
      @if (user?.role == 'admin' && item.role == 'admin' || item.role == 'user' && user || item.role == null) {
        @if (!item.mobileOnly) {
          @if (item.routerLink) {
            @if (item.isLogout != false) {
              <a mat-button (click)="closeAuth()" routerLink="{{ item.routerLink }}">{{ item.label }}</a>
            } @else {
              <a mat-button routerLink="{{ item.routerLink }}">{{ item.label }}</a>
            }
          } @else if (item.click) {
            @if (user == null && !item.isLogout || user && item.isLogout) {
              <a mat-button (click)="item.click()">{{ item.label }}</a>
            }
          } @else if (this.user) {
            <a mat-button (click)="logout()">{{ item.label }}</a>
          }
        }
      }
    }
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      @for (item of navItems; track $index) {
        @if (user?.role == 'admin' && item.role == 'admin' || item.role == 'user' || item.role == null) {
          @if (item.routerLink) {
            @if (item.isLogout != false) {
              <a mat-list-item routerLink="{{ item.routerLink }}" (click)="sidenav.close()">{{ item.label }}</a>
            }
          } @else if (item.click) {
            @if (user == null && !item.isLogout || user && item.isLogout) {
              <a mat-list-item (click)="item.click()">{{ item.label }}</a>
            }
          } @else if (this.user && !item.mobileOnly) {
            <a mat-list-item (click)="logout()">{{ item.label }}</a>
          } @else if (item.mobileOnly) {
            <a mat-list-item (click)="sidenav.close()">{{ item.label }}</a>
          }
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (this.showAuth) {
  @if (authModal == EAuth.auth) {
    <app-auth [closeModal]="closeAuth.bind(this)" (modal)="changeModal($event)"></app-auth>
  } @else if (authModal == EAuth.login) {
    <app-login [changeModal]="changeModal.bind(this)" [closeModal]="closeAuth.bind(this)" (user)="setUser($event)"></app-login>
  } @else if (authModal == EAuth.signup) {
    <app-signup [changeModal]="changeModal.bind(this)" [closeModal]="closeAuth.bind(this)"></app-signup>
  }
}
