<div class="signup-card-container">
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Regisztráció</mat-card-title>
      <button mat-icon-button class="close-button" (click)="closeSignup()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Felhasználónév</mat-label>
            <input matInput formControlName="username" type="text" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Jelszó</mat-label>
            <input matInput formControlName="password" type="password" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email-cím</mat-label>
            <input matInput formControlName="email" type="text" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Keresztnév</mat-label>
            <input matInput formControlName="firstName" type="text" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Vezetéknév</mat-label>
            <input matInput formControlName="lastName" type="text" required>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Regisztráció</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
