@use '@angular/material' as mat;

$colors: #ffcc70, #c850c0, #4158d0;
$background-color: #0a0a0a;
$snackbar-color: #181818;
$animation-speed: 8s;

body {
  background: $background-color;
  position: relative;
  overflow: scroll;
}

.background-overlay {
  position: absolute;
  left: calc(50% - 48% / 2);
  top: calc(-8% / 2);
  width: 48%;
  height: 8%;
  background: conic-gradient(from 90deg at 50% 50%, $colors 180deg);
  animation: pulseEffect $animation-speed ease-in-out infinite alternate;
  filter: blur(40px);
  rotate: 180deg;
  flex-shrink: 0;
  border-radius: 50%;
}

@keyframes pulseEffect {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.24;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  @include mat.snack-bar-overrides((
    container-color: $snackbar-color,
    supporting-text-color: white,
  ));
}
